@model MOVIE_BOOKING_CORE.Models.MovieTicket

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MovieTicket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoviePoster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoviePoster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SilverPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SilverPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoldPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoldPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlatinumPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatinumPrice)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
