@model MOVIE_BOOKING_CORE.Models.MovieBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ticketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ticketType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
    <a asp-action="Index" class="btn btn-primary" asp-controller="MovieTicket">Home</a>
</div>

